################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LaLaMoveApiTest/obj
/LaLaMoveApiTest/bin/Debug/netcoreapp3.1
/LaLaMoveApiTest/.vs/LaLaMoveApiTest
/LaLaMoveJavascript/node_modules
